@import "./../../../style/theme-variables.scss";
@import "./../../../style/mixins.scss";

.menu-item {
  box-sizing: border-box;
  height: 2.5em;
  border: 0.4em solid;
  @include themify($themes) {
    background-color: themed("menuItemBg");
    border-color: themed("menuItemBorder");
    color: themed("textDefaultColor");
  }
  @include addTransitionForProp(background-color, border-color);
  @include typography();
  cursor: pointer;
  padding-inline-start: 0;
  list-style: none;

  &:hover {
    @include themify($themes) {
      background-color: themed("menuItemBgHov");
      border-color: themed("menuItemBorderHov");
      color: themed("textDisabledColor");
    }
  }

  > p {
    height: 2.5em;
    margin: 0;
  }
}
