@import "./../../style/theme-variables.scss";
@import "./../../style/mixins.scss";

.menu {
  height: 100%;
  margin: 0;
  @include themify($themes) {
    background-color: themed("menuBg");
  }
  padding-inline-start: 0;

  @include responsiveWidth(100%);

  &_right {
    margin-left: auto;
  }

  &_left {
    margin-right: auto;
  }
}
