@import "./../../style/theme-variables.scss";

.menu {
  @include themify($themes) {
    background-color: themed("menuBg");
  }
  width: 100%;
  height: 100%;
  margin: 0;
  padding-inline-start: 0;

  @media screen and (min-width: 320px) {
    width: 50%;
  }

  @media screen and (min-width: 768px) {
    width: 33%;
  }

  @media screen and (min-width: 1240px) {
    width: 25%;
  }

  @media screen and (min-width: 1960px) {
    width: 15%;
  }

  &_right {
    margin-left: auto;
  }
}
