@import "./../../style/theme-variables.scss";

input.cell {
  @include themify($themes) {
    background-color: themed("cellDefaultBg");
    border-color: themed("cellDefaultBg");
    color: themed("textDefaultColor");
  }
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 0.2em;
  font-weight: bold;
  border: 0.2em solid;
  font-size: 1.2em;
  -moz-appearance: textfield;
  transition: background-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.cell__odd-square {
    @include themify($themes) {
      background-color: themed("cellOddBg");
      border-color: themed("cellOddBg");
    }

    &:disabled {
      @include themify($themes) {
        background-color: themed("cellOddDisabledBg");
        border-color: themed("cellOddDisabledBg");
        color: themed("textDisabledColor");
      }
    }
  }

  &.cell__active-axis {
    @include themify($themes) {
      border-color: themed("cellActiveBg");
    }

    &:disabled {
      @include themify($themes) {
        border-color: themed("cellActiveBg");
        color: themed("textDisabledColor");
      }
    }
  }

  &.cell__active-square {
    @include themify($themes) {
      border-color: themed("cellActiveBg");
    }

    &:disabled {
      @include themify($themes) {
        border-color: themed("cellActiveBg");
        color: themed("textDisabledColor");
      }
    }
  }

  &.cell__invalid {
    @include themify($themes) {
      background-color: themed("cellInvalidBg");
      border-color: themed("cellInvalidBorder");
    }
  }

  &:disabled {
    @include themify($themes) {
      background-color: themed("cellDefaultDisabledBg");
      border-color: themed("cellDefaultDisabledBg");
      color: themed("textDisabledColor");
    }
  }

  &:focus {
    @include themify($themes) {
      background-color: themed("cellOddBg");
      border-color: themed("cellFocusBorder");
    }
    outline: none;
  }

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
