@import "./../../style/colors.scss";

input.cell {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 0.2em;
  font-weight: bold;
  background-color: $base-chalk;
  border: 0.2em solid;
  border-color: $base-chalk;
  font-size: 1.2em;
  -moz-appearance: textfield;
  transition: background-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__odd-square {
    background-color: $base-green;
    border-color: $base-green;

    &:disabled.cell {
      background-color: $base-green-hover;
      border-color: $base-green-hover;
    }
  }

  &__active-axis {
    background-color: $base-green-light;
    border-color: $base-green-border;

    &:disabled.cell {
      background-color: $base-green-darker;
      border-color: $base-green-border;
    }
  }

  &__active-square {
    background-color: $base-green-light;
    border-color: $base-green-border;

    &:disabled.cell {
      border-color: $base-green-border;
    }
  }

  &__invalid {
    background-color: $base-red;
    border-color: $base-red-dark;
  }

  &:disabled {
    background-color: $base-dark;
    border-color: $base-dark;
  }

  &:focus {
    background-color: $base-green-focus;
    outline: none;
    border-color: $base-green-focus-border;
  }
}
