input.cell {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 0.2em;
  font-weight: bold;
  background-color: #dddddd;
  border: 0.2em solid;
  border-color: #dddddd;
  font-size: 1.2em;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__odd-square {
    background-color: #9dd6c3;
    border-color: #9dd6c3;

    &:disabled.cell {
      background-color: #7ac1aa;
      border-color: #7ac1aa;
    }
  }

  &__active-axis {
    background-color: #bbffe8;
    border-color: #477465;

    &:disabled.cell {
      background-color: #9ed7c4;
      border-color: #477465;
    }
  }

  &__active-square {
    background-color: #bbffe8;
    border-color: #477465;

    &:disabled.cell {
      border-color: #477465;
    }
  }

  &__invalid {
    background-color: #ffd0bb;
    border-color: #744747;
  }

  &:disabled {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
  }

  &:focus {
    background-color: #7fffd4;
    outline: none;
    border-color: #24f210;
  }
}
