@import "./../../style/theme-variables.scss";

.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  @include themify($themes) {
    background-color: themed("switchBg");
  }
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 0.5em;
}

.slider:before {
  @include themify($themes) {
    background-color: themed("switchSlider");
  }
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  left: 0.2em;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  @include themify($themes) {
    background-color: themed("switchSliderChecked");
  }
}

input:focus + .slider {
  box-shadow: 0 0 1px $sea-100;
}

input:checked + .slider:before {
  -webkit-transform: translate(0.8em, -50%);
  -ms-transform: translate(0.8em, -50%);
  transform: translate(0.8em, -50%);
}
