@import "./../../style/theme-variables.scss";
@import "./../../style/mixins.scss";
@import "./../../style/common-variables.scss";

.select-wrapper {
  box-sizing: border-box;
  @include flex(column, null, null);
  width: fit-content;

  & > select {
    box-sizing: border-box;
    padding: $select-padding;
    border: $button-border-thickness solid;
    border-radius: $button-border-radius;
    @include themify($themes) {
      background-color: themed("buttonDefaultBg");
      border-color: themed("buttonDefaultBorder");
      color: themed("textDefaultColor");
    }
    @include addTransitionForProp(background-color, border-color, color);
    font-weight: $butoon-text-weight;
    text-align: center;
    cursor: pointer;

    &:hover {
      @include themify($themes) {
        background-color: themed("buttonDefaultBgHov");
        border-color: themed("buttonDefaultBorderHov");
      }
    }
  }
}
