@import "./../../style/theme-variables.scss";
@import "./../../style/mixins.scss";

.select-wrapper {
  box-sizing: border-box;
  @include flex(column, null, null);
  width: fit-content;

  & > select {
    padding: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    @include themify($themes) {
      background-color: themed("buttonDefaultBg");
      border-color: themed("buttonDefaultBorder");
      color: themed("textDefaultColor");
    }
    transition: background-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
      border-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    cursor: pointer;

    &:hover {
      @include themify($themes) {
        background-color: themed("buttonDefaultBgHov");
        border-color: themed("buttonDefaultBorderHov");
      }
    }
  }
}
