@import "./../../style/theme-variables.scss";
@import "./../../style/mixins.scss";

.layout {
  @include flex(column, flex-start, center);
  flex: 1 0;
  min-width: 100%;
  min-height: 100vh;
  @include themify($themes) {
    background-color: themed("layoutBg");
    color: themed("textDefaultColor");
  }
  @include addTransitionForProp(background-color, border-color);
  @include typography();
}

.blur {
  filter: blur(0.4em);
}
