.layout {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font: 1em Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

.blur {
  filter: blur(0.4em);
}
