@import "./../../../../style/theme-variables.scss";
@import "./../../../../style/mixins.scss";
@import "./../../../../style/common-variables.scss";

.number-plate {
  box-sizing: border-box;
  @include flex(column, space-around, center);
  width: 100%;
  height: 100%;
  border: $cell-border-thickness solid;
  border-radius: $cell-border-radius;
  @include themify($themes) {
    border-color: themed("numbersBoardBorder");
  }
  @include addTransitionForProp(border-color);

  > * {
    margin: 0;
    height: 50%;
    width: 100%;
    text-align: center;
  }

  :first-child {
    @include themify($themes) {
      background-color: themed("numbersBoardNumBg");
      border-color: themed("numbersBoardBorder");
    }
    border-bottom: $cell-border-thickness solid;
  }

  :last-child {
    @include themify($themes) {
      background-color: themed("numbersBoardAmountBg");
    }
  }
}
