@import "./../../style/theme-variables.scss";

.modal {
  @include themify($themes) {
    background-color: themed("modalBg");
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  font: 1em Arial, Helvetica, sans-serif;

  @media screen and (min-width: 320px) {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.2em;
  }

  @media screen and (min-width: 768px) {
    width: 33%;
  }

  @media screen and (min-width: 1240px) {
    width: 25%;
  }

  @media screen and (min-width: 1960px) {
    width: 15%;
  }
}

.modal-header,
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > p {
    margin: 0;
  }
}

.modal-header {
  height: 2.5em;
}

.modal-content {
  @include themify($themes) {
    border-color: themed("modalBorder");
  }
  padding: 1em 2em;
  width: 100%;
  box-sizing: border-box;
  border-top: 0.1em solid;
}

.modal-bar {
  @include themify($themes) {
    border-color: themed("modalBorder");
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  border-top: 0.1em solid;
}
