@import "./../../style/colors.scss";

.header {
  height: 2.5rem;
  width: 100%;
  text-align: center;
  background-color: $base-green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  box-sizing: border-box;

  & p {
    margin: 0;
  }
}
