$base-grey: #ededed;
$base-chalk: #dddddd;
$base-dark: #c2c2c2;

$semi-black: #0000007b;

$base-green: #9dd6c3;
$base-green-hover: #7ac1aa;
$base-green-light: #bbffe8;
$base-green-border: #477465;
$base-green-darker: #9ed7c4;
$base-green-focus: #7fffd4;
$base-green-focus-border: #24f210;

$base-red: #ffd0bb;
$base-red-dark: #744747;
