$chalk-100: #ededed;
$chalk-200: #e7e7e7;
$chalk-300: #dddddd;
$chalk-400: #c2c2c2;
$chalk-500: #a7a7a7;

$black: #000000;
$black-05: #00000080;

// $sea-100: #7fffd4;
// $sea-200: #bbffe8;
// $sea-300: #9dd6c3;
// $sea-400: #7ac1aa;
// $sea-700: #477465;

$sea-100: #c6ebdf;
$sea-200: #a4ecd4;
$sea-300: #73e6c0;
$sea-400: #3dd4a4;
$sea-500: #1baf82;
$sea-600: #1d8e6a;
$sea-700: #1a6e52;
$sea-800: #1a4f3e;
$sea-900: #173028;

$grass-700: #24f210;

$brick-200: #ffd0bb;
$wine-700: #744747;

$coal-100: #7d7d7d;
$coal-200: #6e6e6e;
$coal-300: #515151;
$coal-400: #373737;
$coal-500: #1f1f1f;

$white: #ffffff;
$white-05: #ffffff80;

// $night-100: #213040;
// $night-200: #556d8c;
// $night-300: #9db9d6;
// $night-400: #5c93ce;
// $night-700: #5a6772;

$night-100: #a7caf0;
$night-200: #7babde;
$night-300: #558cc7;
$night-400: #4479b2;
$night-500: #3d7dc1;
$night-600: #2e6398;
$night-700: #173d62;
$night-800: #173049;
$night-900: #15212e;

$firefly-700: #d0f163;

$brick-200: #ffd0bb;
$wine-700: #744747;

$switch-on-light: linear-gradient(90deg, $night-500 50%, $coal-300 50%);
$switch-on-dark: linear-gradient(90deg, $sea-500 50%, $chalk-300 50%);
