@import "./../../style/theme-variables.scss";
@import "./../../style/mixins.scss";

.footer {
  @include flex(row, center, center);
  min-height: 2.5rem;
  width: 100%;
  @include themify($themes) {
    background-color: themed("coloredModule");
  }
  @include addTransitionForProp(background-color);
  text-align: center;

  & > p {
    margin: auto 0;
    padding: 0.5em;
  }
}
