@import "./../../style/theme-variables.scss";
@import "./../../style/mixins.scss";
@import "./../../style/common-variables.scss";

.footer {
  @include flex(row, center, center);
  min-height: $top-bottom-min-height;
  width: 100%;
  @include themify($themes) {
    background-color: themed("coloredModule");
  }
  @include addTransitionForProp(background-color);
  text-align: center;

  & > p {
    margin: auto 0;
  }
}
