@import "./../../../style/theme-variables.scss";
@import "./../../../style/mixins.scss";
@import "./../../../style/common-variables.scss";

.remaining-numbers-block {
  margin: $board-controls-margin auto;
}

.remaining-numbers-board {
  box-sizing: border-box;
  @include nineColGrid();
  width: $board-size;
  padding: $board-padding;
  border-radius: $board-border-radius;
  @include themify($themes) {
    background-color: themed("numbersBoardBg");
  }
  @include addTransitionForProp(background-color);
}
