@import "./../../../style/theme-variables.scss";
@import "./../../../style/mixins.scss";

.remaining-numbers-block {
  margin: 0.5em auto;

  > p {
    margin: 0 0 0.2em;
  }
}

.remaining-numbers-board {
  box-sizing: border-box;
  @include nineColGrid();
  width: 20em;
  padding: 0.2em;
  border-radius: 0.2em;
  @include themify($themes) {
    background-color: themed("numbersBoardBg");
  }
  @include addTransitionForProp(background-color);
}
