@import "./../../style/colors.scss";

.number-plate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 2em;
  height: 4em;
  background-color: $base-dark;
  border: 0.2em solid $base-green-border;
  border-radius: 0.2em;
  box-sizing: border-box;

  > * {
    margin: 0;
    height: 50%;
    width: 100%;
    text-align: center;
  }

  :first-child {
    background-color: $base-green-hover;
    border-bottom: 0.2em solid $base-green-border;
  }

  :last-child {
    background-color: $base-chalk;
  }
}
