@import "./../../style/theme-variables.scss";

a {
  text-decoration: none;
  @include themify($themes) {
    color: themed("cellFocusBorder");
  }

  &:visited {
    @include themify($themes) {
      color: themed("cellInvalidBorder");
    }
  }
}
