@import "./../../style/theme-variables.scss";
@import "./../../style/mixins.scss";

.main-content {
  box-sizing: border-box;
  @include flex(column, flex-start, center);
  flex: 1 0 auto;
  width: 100%;
  min-height: calc(100vh - 2.5rem - 2.5rem);
  margin: 0 auto;
  padding: 1rem;
  @include themify($themes) {
    background-color: themed("contentBg");
    color: themed("textDefaultColor");
  }
  @include addTransitionForProp(background-color, color);
  @include contentQueryWidth();
}
